<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Component scanning for the com.library package -->
    <context:component-scan base-package="com.library"/>

    <!-- Enable AspectJ auto proxying -->
    <aop:aspectj-autoproxy/>


    <bean id="bookRepository"
          class="java.com.library.repository.BookRepository">

    </bean>

    <bean id="bookService"
          class="com.library.service.BookService">
        <!-- Wiring BookRepository into BookService using setter injection -->
        <property name="bookRepository" ref="bookRepository"/>
        <!--- Constructor injection -->
        <constructor-arg type="java.lang.String" value="This is the book service class..." />
    </bean>

</beans>