<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- Enable AspectJ auto proxying -->
<!--    <aop:aspectj-autoproxy/>-->


    <bean id="bookRepository"
          class="java.com.library.repository.BookRepository">

    </bean>

    <bean id="bookService"
          class="com.library.service.BookService">
        <!-- Wiring BookRepository into BookService using setter injection -->
        <property name="bookRepository" ref="bookRepository"/>
    </bean>


    <bean id="cls"
              class="java.com.library.Mycls">

        </bean>

</beans>